:root {
  --white: #fff;
  --active-color: #d3e1f7;
  background: #d3e1f7;
  /* box-shadow: 8px 8px 16px #c2cfe3, -8px -8px 16px #e4f3ff; */
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: var(--active-color);
  transition: background 0.4s ease;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  /* background: #3b7677; */
  background: #d3e1f7;
  box-shadow: 8px 8px 16px #c2cfe3, -8px -8px 16px #e4f3ff;
  transition: background 0.2s ease;
  cursor: pointer;
}

.audio-player {
  width: 350px;
  padding: 24px;
  border-radius: 20px;
  /* box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2); */
  /* border-radius: 48px; */
  background: #d3e1f7;
  box-shadow: 8px 8px 16px #c2cfe3, -8px -8px 16px #e4f3ff;
  color: var(--white);
}

@media screen and (max-width: 850px) {
  .audio-player {
    margin: auto;
  }
}

.artwork {
  border-radius: 120px;
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.rotate-artwork {
  animation: 15s linear infinite rotation;
}

.track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 20px;
  font-size: 20px;
}

.artist {
  font-weight: 300;
  margin-top: 0;
}

/*
.audio-controls path {
  fill: var(--white);
} */

.color-backdrop {
  /* background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
    no-repeat; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .progress[type="range"] {
  -webkit-appearance: none;
  appearance: none;
} */

.progress[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 100%;
}
.progress[type="range"]:focus,
.progress[type="range"]:active {
  outline: none;
}

.progress[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
}
.progress[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  border: none;
  width: 12px;
  height: 12px;
  display: block;
  background-color: white;
  border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
}
